
.main-content {
    width: 72%;
    margin: 265px auto 0 auto;
    margin-top: 80px 0 0 262px;
}

.main-inner {
    margin-right: 20%;
}

#section-home {
    padding-bottom: 50vh;
}

aside {
    width: 300px;
}